In [2]:
# find common elements in 2 list

list1 = [1,2,3,4,5,6]
list2 = [ 7,8,9,10,11,2]

for i in list1:
    for j in list2:
        if i == j:
            print (i)

2

In [26]:
tuple = (1,2,3,4,5,4,"one",'two',[1,2,3,4])
print(tuple[-1])
print(tuple[-1:-3:-1])
print(1 in tuple)
print(7 in tuple)
print(type(tuple))
print(tuple.count(4))
print(tuple.index(4))
print(tuple.index(4,4))
#tuple[0]=1
tuple[-1][0]=5
tuple

[1, 2, 3, 4]
([1, 2, 3, 4], 'two')
True
False
<class 'tuple'>
2
3
5

(1, 2, 3, 4, 5, 4, 'one', 'two', [5, 2, 3, 4])

In [32]:
set={1,2,3,3,4,5,6,2,3}
set.add(9)
set.update([10,11])
set

{1, 2, 3, 4, 5, 6, 9, 10, 11}

In [43]:
set1={1,2,3}
set2={2,3,4}
set3={3,4,5}
set1.union(set2,set3)
set1&set2 # intersection
set1.intersection(set3)
set1-set2
set2-set1
set1.difference(set3)
set1^set2 # OR ( should be there in 1 of set and not common)

{1, 4}

In [60]:
dict = {
    "model": 1980,
    'type' : 'sedan',
    'brand':'chevy',
    'test':0
    
}
dict.keys()
dict.get('model')
dict['type']
dict.pop('test')
dict.values()

for x in dict.values():
    print (x)

for x,y in dict.items():
    print (x,y)

#frozenset(dict) # takes keys from dict

1980
sedan
chevy
model 1980
type sedan
brand chevy

In [63]:
add = lambda num: num+4
add(6)

a = lambda x,y : ( x * y)
a(4,5)

reciprocal = lambda num : 1/num
reciprocal(2)

0.5

In [66]:
def odd(x):
    if (x%2) != 0:
        return x
lst = [5,6,7,8]
odd_lst = list(filter(odd,lst)) # filter accepts 2 args , ( function , iteratable object)

odd_lst

[5, 7]

In [68]:
# replace function with lambda 
# use lambda with filter

lst = [5,6,7,8]
odd_lst = list(filter(lambda num : (num%2 !=0) ,lst))
odd_lst

[5, 7]

In [70]:
# use lambda with map
lst = [5,6,7,8]
sqr_list = list(map(lambda num : (num ** 2) ,lst))
sqr_list

[25, 36, 49, 64]

In [80]:
# using lambda with list comprehension
squares = [lambda num = num : num ** 2 for num in range(0,11)]

for i in squares:
    print(i())

[<function __main__.<listcomp>.<lambda>(num=0)>,
 <function __main__.<listcomp>.<lambda>(num=1)>,
 <function __main__.<listcomp>.<lambda>(num=2)>,
 <function __main__.<listcomp>.<lambda>(num=3)>,
 <function __main__.<listcomp>.<lambda>(num=4)>,
 <function __main__.<listcomp>.<lambda>(num=5)>,
 <function __main__.<listcomp>.<lambda>(num=6)>,
 <function __main__.<listcomp>.<lambda>(num=7)>,
 <function __main__.<listcomp>.<lambda>(num=8)>,
 <function __main__.<listcomp>.<lambda>(num=9)>,
 <function __main__.<listcomp>.<lambda>(num=10)>]

In [78]:
# list compreshension

lst = [5,6,7,8]
square = [ n**2 for n in lst]
square

[25, 36, 49, 64]