In [ ]:
'''
Python libraries

numpy - numerical operations on n dim arrays
pandas - data exploration , data analysis and data cleaning
matplotlib , seaborn - data visualisation
statsmodels - statistical modelling and analysis
skikit learn - ML ( supervised and unsupervised learning)
tensor flow - deep learning models for image and speech
nltk , spacy , text blob - natural language took kit ( nltk ) - text processing and NLP tasks
'''

In [3]:
# Variables , Data types
x = 'Hello' # x becomes an object of Class String
y = 15 # y is an object of Class Integer
z = 7.5 # z is an object of Class Float
b = True # b is an object of Class Boolean

print(x,y,z,b)
print(type(x), type(y), type(z), type(b))

Hello 15 7.5 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [4]:
print(type('17'))

<class 'str'>

In [12]:
x=3;y=4;z=100
print(x + y)
print (x - y)
print (x * y)
print (x % y)
print (x ** y)
print (z /x)
print ( z//x) # floor of the number

7
-1
12
3
81
33.333333333333336
33

In [14]:
a = 5 ; b = 7
print(a ==5)
print(b ==5)

True
False

In [16]:
a = 'hey' ; b = 'there'
print ( a + b) # String concat

heythere

In [19]:
a = 'Hi'
print ( a * 3)

HiHiHi

In [18]:
a = '3'
print ( int(a) + 1) # typecast string to int , else it would throw an error

4

In [26]:
name = input ('whats your name ')
print ( "hi there " , name)
age = input ( ' whats is your age ?')
print ( 'Still pretty young !! huh , your just ' , age)
## Any input from the keyboard is of string type
print(type(name))
print(type(age))

whats your name div
hi there  div
 whats is your age ?23
Still pretty young !! huh , your just  23
<class 'str'>
<class 'str'>

In [28]:
# List is a hetrogenous collection
lst = [ 1 ,'a' , 4.3, False]
print(lst)
print(type(lst)) # Object of class list

[1, 'a', 4.3, False]
<class 'list'>

In [30]:
# Conditional constructs

x=17
if x%2 == 0:
    print(x , 'is even')
else:
    print(x , 'is odd')

17 is odd

In [31]:
# multiple if

x=5
if x < 10:
    print(x , 'is smaller than 10')
if x > 0:
    print(x , 'is greater than 0')

5 is smaller than 10
5 is greater than 0

In [34]:
#Chained conditions

x = 20
y = 20
if x < y:
    print('x is lesss than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x and y are equal

In [35]:
#nested if 

x=5

if x > 0:
    if x < 10:
        print ( 'x is +ve single digit no')

x is +ve single digit no

In [36]:
# And operator

x=5
if x > 0 and x < 10:
    print('x is +ve single digit no')

x is +ve single digit no

In [39]:
# or operator

x=15; y=10

if x% 10 == 0 or y%10 == 0:
    print('Either x and y is even')

Either x and y is even

In [46]:
# Not operator

x = 4
if not (x > 5):
    print ( 'x is less than  5')

x is less than  5

In [ ]:
# Iterative : while

noStudents = int ( input ( "Enter no of students "))
counter = 1;

while counter <= noStudents:
    marks1 = int ( input("Marks1"))
    marks2 = int ( input("Marks2"))
    marks3 = int ( input("Marks3"))
    
    total = marks1 + marks2 + marks3
    average = total / 3
    print ( average)

    if average > 15:
        print ("Passed")
    else:
        print("Failed")
    counter+=1

In [52]:
# For loop

# find mean of values in the list

lst = [ 10,20,30,40,50]
count = 0
sum = 0

for x in lst:
    count += 1
    sum = sum + x
mean = round ( sum / count , 2)
print ( mean)

30.0

In [ ]:
# Data structures in python

# List , String , Sets , Tuples and Dictionary

In [78]:
# List

'''
Hetrogenous elements indexed from 0
List can be updated
Enclosed within square bracked
'''

lst = [ 10,20,1,'a','b']
print (lst[0])
print (lst[3])
print (lst[-1]) # last element

#Slicing
print (lst[2:5]) # index 2 to 4 is printed , inclusive index : exclusive index

# In operator , to check if elements is present
print ( 10 in lst)
print ( 40 in lst)

# Append()
lst.append('c')
print (lst)

lst2 = [4,5]
lst.append(lst2)

print (lst)

# Extend()
lst.extend([1,2])
print (lst)

# Insert()
lst.insert(9, 'g') # Insert element x at index i ( index , element)
print ( lst)

lst.remove('g') # remove element 'g'
print (lst)

lst.count('a') # count of element 1 = 2 , element 4 = 0

10
a
b
[1, 'a', 'b']
True
False
[10, 20, 1, 'a', 'b', 'c']
[10, 20, 1, 'a', 'b', 'c', [4, 5]]
[10, 20, 1, 'a', 'b', 'c', [4, 5], 1, 2]
[10, 20, 1, 'a', 'b', 'c', [4, 5], 1, 2, 'g']
[10, 20, 1, 'a', 'b', 'c', [4, 5], 1, 2]
[2, 4, 8, 12]

In [83]:
# Sort
lst3 = [4, 8,2,12]
lst3.sort()
print (lst3)

#Reverse
lst3.reverse()
print (lst3)

print(lst.pop(0))
print(lst)

[2, 4, 8, 12]
[12, 8, 4, 2]
1
['a', 'b', 'c', [4, 5], 1, 2]

In [87]:
# Set 

'''
Hetrogenous unordered collection of unique elements
Curly brackets

'''

set_1 = {10,20,10,30,20}
print(set_1)

set_1.add(40)
print(set_1)

{10, 20, 30}
{40, 10, 20, 30}