In [11]:
import os
os.environ['PATH'] += ':/opt/hadoop/bin'

In [2]:
! hadoop fs -head /user/itv012875/dsml-8/movies.csv

head: `/user/itv012875/dsml-8/movies.csv': No such file or directory

In [3]:
from pyspark import SparkContext

# comand to create sparkContext
sc = SparkContext()

2024-09-01 05:23:01,792 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-09-01 05:23:02,603 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2024-09-01 05:23:03,283 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [4]:
country_list = ["India", "USA", "South Africa", "Australia", "France"]

In [5]:
rdd_country = sc.parallelize(country_list)

In [6]:
rdd_country.getNumPartitions()

8

In [7]:
rdd_country.glom().collect()

[[], ['India'], [], ['USA'], ['South Africa'], [], ['Australia'], ['France']]

In [17]:
rdd_movies = sc.textFile('dsml-8/movies.csv',minPartitions=5)

In [18]:
rdd_movies.take(5)

['movieId,title,genres',
 '1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy',
 '2,Jumanji (1995),Adventure|Children|Fantasy',
 '3,Grumpier Old Men (1995),Comedy|Romance',
 '4,Waiting to Exhale (1995),Comedy|Drama|Romance']

# Parallelize vs Textfile
- Parallelize() use if i Have python collection
- file format i use textfile()

! ! hadoop fs -head /user/itv012875/dsml-8/analytics_20_india.txt

# Reading of file

In [19]:
india = sc.textFile('dsml-8/analytics_20_india.txt')

In [20]:
type(india)

pyspark.rdd.RDD

## Operation : Action
1. collect()
2. take()

In [21]:
india.take(5)# returns top n

['Keaton Data_Science India',
 'Idona Data_Science Australia',
 'Janna HR India',
 'Damon Data_Science India',
 'Rahim Marketing India']

In [22]:
india.collect()# return complete o/p

['Keaton Data_Science India',
 'Idona Data_Science Australia',
 'Janna HR India',
 'Damon Data_Science India',
 'Rahim Marketing India',
 'Audrey Data_Science India',
 'Irma HR Dubai',
 'Tatum HR India',
 'Acton Data_Science India',
 'Ainsley Data_Science India',
 'Phillip Data_Science India',
 'Maite Marketing India',
 'Kevyn Marketing Australia',
 'Vielka HR India',
 'Risa Operations India',
 'Jael Accounts Dubai',
 'Erich Data_Science India',
 'Pearl Operations Australia',
 'Francesca Data_Science India',
 'Ross Sales India',
 'Tarik HR Dubai',
 'Lev HR India',
 'Nerea Accounts India',
 'Halla Sales India',
 'Daquan Legal India',
 'Ivan HR India',
 'Venus HR India',
 'Lareina Legal India',
 'Orlando Sales Australia',
 'Denise Accounts India',
 'Alvin Accounts Dubai',
 'Rafael Data_Science Australia',
 'Whoopi Data_Science Australia',
 'Norman Legal Dubai',
 'Forrest Sales Dubai',
 'Sigourney Legal India',
 'Stone Legal Scotland',
 'Todd Sales India',
 'Jerome Sales India',
 'Signe HR India',
 'Xavier Legal India',
 'Kevin Customer_Support India',
 'Michelle Customer_Support India',
 'Lyle Customer_Support Dubai',
 'Brendan Data_Science Australia',
 'Melvin Data_Science Australia',
 'Ignacia Customer_Support India',
 'Lenore HR India']

In [23]:
india.count()

48

# Transfromations
1. Map() - transformation,

'Brendan Data_Science Australia'
map(lambda )

x = 'Brendan Data_Science Australia'

In [24]:
india.take(5)

['Keaton Data_Science India',
 'Idona Data_Science Australia',
 'Janna HR India',
 'Damon Data_Science India',
 'Rahim Marketing India']

In [25]:
map_india = india.map(lambda x:x.split(' '))

'Keaton Data_Science India'-> ['Keaton','Data_Science','India']

In [27]:
map_india.take(5)

[['Keaton', 'Data_Science', 'India'],
 ['Idona', 'Data_Science', 'Australia'],
 ['Janna', 'HR', 'India'],
 ['Damon', 'Data_Science', 'India'],
 ['Rahim', 'Marketing', 'India']]

In [28]:
country_india = map_india.map(lambda x:x[2])
country_india.collect()

['India',
 'Australia',
 'India',
 'India',
 'India',
 'India',
 'Dubai',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Australia',
 'India',
 'India',
 'Dubai',
 'India',
 'Australia',
 'India',
 'India',
 'Dubai',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Australia',
 'India',
 'Dubai',
 'Australia',
 'Australia',
 'Dubai',
 'Dubai',
 'India',
 'Scotland',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Dubai',
 'Australia',
 'Australia',
 'India',
 'India']

In [29]:
distinct_map_india = country_india.distinct()
distinct_map_india.collect()

['India', 'Australia', 'Dubai', 'Scotland']

# Filtering

In [30]:
map_india.take(5)

[['Keaton', 'Data_Science', 'India'],
 ['Idona', 'Data_Science', 'Australia'],
 ['Janna', 'HR', 'India'],
 ['Damon', 'Data_Science', 'India'],
 ['Rahim', 'Marketing', 'India']]

In [31]:
india_employee = map_india.filter(lambda x:x[2]=='India')
india_employee.take(5)

[['Keaton', 'Data_Science', 'India'],
 ['Janna', 'HR', 'India'],
 ['Damon', 'Data_Science', 'India'],
 ['Rahim', 'Marketing', 'India'],
 ['Audrey', 'Data_Science', 'India']]

# Union

In [33]:
dubai = sc.textFile('dsml-8/analytics_20_dubai.txt')
dubai.take(5)

['Leo Customer_Support Scotland',
 'Cyrus Customer_Support India',
 'Jolie Sales India',
 'Susan HR Australia',
 'Azalia Customer_Support Dubai']

In [34]:
map_dubai = dubai.map(lambda x:x.split(' '))

In [36]:
map_dubai.take(5)

[['Leo', 'Customer_Support', 'Scotland'],
 ['Cyrus', 'Customer_Support', 'India'],
 ['Jolie', 'Sales', 'India'],
 ['Susan', 'HR', 'Australia'],
 ['Azalia', 'Customer_Support', 'Dubai']]

In [37]:
country_dubai = map_dubai.map(lambda x:x[2])

In [38]:
dist_country_dubai = country_dubai.distinct()
dist_country_dubai.collect()

['Scotland', 'India', 'Australia', 'Dubai', 'South_Africa']

In [39]:
union_county = distinct_map_india.union(dist_country_dubai)
union_county.collect()

['India',
 'Australia',
 'Dubai',
 'Scotland',
 'Scotland',
 'India',
 'Australia',
 'Dubai',
 'South_Africa']

In [40]:
inter_county = distinct_map_india.intersection(dist_country_dubai)
inter_county.collect()

['Dubai', 'India', 'Australia', 'Scotland']

# Flatmap

In [41]:
map_india.take(5)

[['Keaton', 'Data_Science', 'India'],
 ['Idona', 'Data_Science', 'Australia'],
 ['Janna', 'HR', 'India'],
 ['Damon', 'Data_Science', 'India'],
 ['Rahim', 'Marketing', 'India']]

<center><img src ="https://f133fde2.rocketcdn.me/wp-content/uploads/2021/09/map-RDD-function-in-Apache-Spark.png"></center>

In [47]:
india.take(5)

['Keaton Data_Science India',
 'Idona Data_Science Australia',
 'Janna HR India',
 'Damon Data_Science India',
 'Rahim Marketing India']

In [46]:
map_india.take(5)

[['Keaton', 'Data_Science', 'India'],
 ['Idona', 'Data_Science', 'Australia'],
 ['Janna', 'HR', 'India'],
 ['Damon', 'Data_Science', 'India'],
 ['Rahim', 'Marketing', 'India']]

In [43]:
india1 = india.flatMap(lambda x:x.split(' ')) # one-2-many trans

In [44]:
india1.take(10)

['Keaton',
 'Data_Science',
 'India',
 'Idona',
 'Data_Science',
 'Australia',
 'Janna',
 'HR',
 'India',
 'Damon']

# groupbyKey
- Grouping using aggregation
|place | Count
-------------
|gurgaon | 3
|Delhi   | 4

In [48]:
students = sc.textFile('dsml-8/students_data.txt')
students.take(5)

['101 A Rohit Gurgaon 65 77 43 66 87',
 '102 B Akansha Delhi 55 46 24 66 77',
 '103 A Himanshu Faridabad 75 38 84 38 58',
 '104 A Ekta Delhi 85 84 39 58 85',
 '105 B Deepanshu Gurgaon 34 55 56 23 66']

In [49]:
map_students = students.map(lambda x:x.split(" "))
map_students.take(5)

[['101', 'A', 'Rohit', 'Gurgaon', '65', '77', '43', '66', '87'],
 ['102', 'B', 'Akansha', 'Delhi', '55', '46', '24', '66', '77'],
 ['103', 'A', 'Himanshu', 'Faridabad', '75', '38', '84', '38', '58'],
 ['104', 'A', 'Ekta', 'Delhi', '85', '84', '39', '58', '85'],
 ['105', 'B', 'Deepanshu', 'Gurgaon', '34', '55', '56', '23', '66']]

In [50]:
stu_section = map_students.map(lambda x:(x[1],1))
stu_section.take(10)

[('A', 1),
 ('B', 1),
 ('A', 1),
 ('A', 1),
 ('B', 1),
 ('B', 1),
 ('B', 1),
 ('A', 1),
 ('A', 1)]

In [ ]:
# Pandas 
groupby().agg(['sum','max'])

In [52]:
stu_section_groupbykey= stu_section.groupByKey()
stu_section_groupbykey.mapValues(sum).collect()

[('B', 4), ('A', 5)]

# Spark DataFrame API

In [ ]:
df.name