In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.sql.warehouse.dir", f"/user/hive/warehouse") \
        .enableHiveSupport() \
        .master('yarn') \
        .getOrCreate()

2024-09-01 06:01:59,768 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2024-09-01 06:02:00,563 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2024-09-01 06:02:00,564 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2024-09-01 06:02:01,253 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [3]:
spark

dsml-8/students_data.txt - not usable
- Compltiable file formates
1. csv
2. parquet
2.

In [5]:
path = 'dsml-8/students_data_1.csv'

In [6]:
df = spark.read.format('csv').option('header',True).load(path)
df.show()

+---+---+---------+---------+---+---+---+---+---+
|101|  A|    Rohit|  Gurgaon| 65| 77| 43| 66| 87|
+---+---+---------+---------+---+---+---+---+---+
|102|  B|  Akansha|    Delhi| 55| 46| 24| 66| 77|
|103|  A| Himanshu|Faridabad| 75| 38| 84| 38| 58|
|104|  A|     Ekta|    Delhi| 85| 84| 39| 58| 85|
|105|  B|Deepanshu|  Gurgaon| 34| 55| 56| 23| 66|
|106|  B|    Ayush|    Delhi| 66| 62| 98| 74| 87|
|107|  B|    Aditi|    Delhi| 76| 83| 75| 38| 58|
|108|  A|    Sahil|Faridabad| 55| 32| 43| 56| 66|
|109|  A|    Krati|    Delhi| 34| 53| 25| 67| 75|
+---+---+---------+---------+---+---+---+---+---+

In [8]:
df1 = spark.read.format('csv').option('header',True).load('dsml-8/movies.csv')
df1.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import col
genres_df= df1.select(col('genres'))

In [12]:
genres_df.show()

+--------------------+
|              genres|
+--------------------+
|Adventure|Animati...|
|Adventure|Childre...|
|      Comedy|Romance|
|Comedy|Drama|Romance|
|              Comedy|
|Action|Crime|Thri...|
|      Comedy|Romance|
|  Adventure|Children|
|              Action|
|Action|Adventure|...|
|Comedy|Drama|Romance|
|       Comedy|Horror|
|Adventure|Animati...|
|               Drama|
|Action|Adventure|...|
|         Crime|Drama|
|       Drama|Romance|
|              Comedy|
|              Comedy|
|Action|Comedy|Cri...|
+--------------------+
only showing top 20 rows