In [1]:
#Lect 1

'''Python basics'''

import sys
print (sys.version)

3.11.5 (main, Sep 11 2023, 08:31:25) [Clang 14.0.6 ]

In [2]:
%system time

['shell  0.00s user 0.01s system 257% cpu 0.006 total',
 'children  0.00s user 0.00s system 0% cpu 0.006 total']

In [14]:
var1 = 'a'
print (var1)
var = 2
print (var)
a,b,c = "A",'B', 'c'
print(a,b,c)
x = y = z = 1
print(x,y,z)

a
2
A B c
1 1 1

In [15]:
x=2
y=5
xy = ' x and y'
print(xy, x+y)

 x and y 7

In [21]:
# Arithmetic operators
print(3*2)
print(3**3)
print(9/2)
print(9//2) # Floor division - Quotient
print(9%2) # Remainder

6
27
4.5
4
1

In [25]:
# Operator precedence - BODMAS ( Bracket , Division, Multi , Add , Sub)

print ( 2**4 )
print(2**0.5)
print(round(2**0.5,3)) # Round off upto 3 digits after decimal

16
1.4142135623730951
1.414

In [36]:
print((2+3)*5/2% 6) 
# 5 * 5/2 % 6 == 5 * 2.5 % 6 == 12.5 % 6 == 0.5

print(2**3**2) # 2e9 Associativity from right to left

0.5
512

In [42]:
# Assignment Operators
a =10
a +=8
print(a)
a -=8
print(a)
a *=8
print(a)
a /=8
print(a)
a *=2
print(a)

18
10
80
10.0
20.0

In [45]:
# Relational Operators

z=1
print (z)
print(z == 1)
print (z != 1)

1
True
False

In [61]:
#Bitwise Operator
a,b = 10,4
print(a,b)
print(a & b )
print ( a | b)
print (a^ b)
print (a)
print(~a) # One's complement - invert the bits

10 4
0
14
14
10
-11

In [54]:
print (bin(10))
print (bin(4))

0b1010
0b100

In [69]:
#Right shift
a = 10
print(a >> 1) #Right shift

print(a << 1)  #Left shift

5
20

In [73]:
#Bulit in functions
print(round(5.54321)) # 5 or more after decimals , rounds off to 6
print(round(5.4321)) # less than 5 , so rounds off to 4
print(round(5.44321,2)) # truncate to 2 decimals

6
5
5.44

In [74]:
divmod(9,2) #tuple of ( Remainder, quotient)

(4, 1)

In [77]:
x,y = 3,3
pow(x,y) # x**y
pow(3,3) # x**y
pow(3,3,5) # (3**3) % 5 = 27%5 = 2

2

In [83]:
abc = input('type anything')
print(abc)
n = int(input('enter a no')) # typecast to int
n +=1
print(n)

type anything10
10
enter a no10
11

In [84]:
#Split()

name , age = input("Enter name and age:").split(',')
print(name,age)

Enter name and age:div,10
div 10

In [87]:
#Formatting

print('%d %s cost Rs %.2f' % (6,'bananas',30))
print('%d %s cost Rs %.3f' % (6,'bananas',30))

6 bananas cost Rs 30.00
6 bananas cost Rs 30.000

In [91]:
print(1,"\n",2,'\t',3 ,'\b',4 )

1
 2 	 3  4

In [99]:
s1 = "single quote's"
print(s1)
s2 = "double quotes"
print(s2)
s3 = 'single quotes'
print(s3)
s4 = '''triple
quotes'''
print(s4)

single quote's
double quotes
single quotes
triple
quotes

In [111]:
s5= 'python'
print(s5[0])
print(len(s5))
print(s5.lower())
print(s5.upper())
s6 = s5.lower()
s7 = s5.upper()
s8 = s6 + " " + s7
print(s8)
s9 = s8 * 2
print(s9 + str(3))
print(s9 + '3')

p
6
python
PYTHON
python PYTHON
python PYTHONpython PYTHON3
python PYTHONpython PYTHON3

In [115]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       10
abc        str       10
age        str       10
b          int       4
c          str       c
n          int       11
name       str       div
s1         str       single quote's
s2         str       double quotes
s3         str       single quotes
s4         str       triple\nquotes
s5         str       python
s6         str       python
s7         str       PYTHON
s8         str       python PYTHON
s9         str       python PYTHONpython PYTHON
sys        module    <module 'sys' (built-in)>
var        int       2
var1       str       a
x          int       3
xy         str        x and y
y          int       3
z          int       1

In [114]:
%who

a	 abc	 age	 b	 c	 n	 name	 s1	 s2
s3	 s4	 s5	 s6	 s7	 s8	 s9	 sys	 var
var1	 x	 xy	 y	 z